@page "/"
@using BlazorTypewriter
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Loc

<PageTitle>Home</PageTitle>
<MudPaper Class="jumbotron" Elevation="4">
    <MudImage Src="images/background-image.png" ObjectFit="ObjectFit.Cover" Alt="Jumbotron Image" Class="jumbotron-image"/>
    <div class="jumbotron-content">
        @if (RendererInfo.IsInteractive)
        {
            <MudText Typo="Typo.h2" Class="jumbotron-title ma-10 animate__animated animate__fadeInUp">
                microscope
            </MudText>
        }
        <MudText Typo="Typo.h5" Class="ma-10">
            <Typewriter Builder="@typewriter"/>
        </MudText>
    </div>
</MudPaper>

@code
{
    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 75, startingText:"boilerplate")
        .Pause(2000)
        .DeleteAll()
        
        .TypeString("Blazor")
        .Pause(2000)
        .DeleteAll()
        
        .TypeString("GraphQL")
        .Pause(2000)
        .DeleteAll()
        
        .TypeString("SDK")
        .Pause(2000)
        .DeleteAll()
        
        .TypeString("Keycloak")
        .Pause(2000)
        .DeleteAll()
        
        .TypeString("...")
        .Pause(2000)
        .DeleteAll()
        
        .Loop();
}

<style>
    .jumbotron {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .jumbotron-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }

    .jumbotron-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        padding: 1rem;
    }
</style>